# .env file
# modelscope的秘钥  https://modelscope.cn/my/myaccesstoken
LLM_API_KEY=your_key_here  # long time


# LLM_MODEL_ID="Qwen/Qwen2.5-Coder-32B-Instruct"
# LLM_MODEL_ID="Qwen/Qwen3-32B"
LLM_MODEL_ID="Qwen/Qwen3.5-27B"

LLM_BASE_URL="https://api-inference.modelscope.cn/v1/"
MODELSCOPE_URL = "https://api-inference.modelscope.cn/v1/"

TAVILY_API_KEY=your_key_here


SERPAPI_API_KEY=your_key_here